[Desktop Entry]
Version=1.0
Name=HEY
Exec=omarchy-webapp-handler-hey %u
Terminal=false
Type=Application
Icon=hey
Categories=Network;Email;
StartupNotify=true
MimeType=x-scheme-handler/mailto
